.container {
    display: flex;
    height: 100vh;
  }

  .left-side {
    width: 50%;
    background-image: url('/assets/tec5.png');
    background-size: cover;
    background-position: left top;
    position: relative;
  }

  .right-side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
  }

  .devotion {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: left;
    justify-content: space-between;
    
  }

  .dev {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: -20px;
    margin-left: 80px;
  }

  .otion {
    font-size: 44px;
    margin-left: 80px;
    align-content: left;
    margin-left: -440px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .white-background {
    font-size: 14px;
    background-color: white;
    padding: 1px;
    
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .microsoft-button { background-color: navy;
    background-color: #2A4365;
    color: white; border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .microsoft-logo { 
    height: 20px;
    width: auto;
   } 

   .small-text {
    font-size: 10px;
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    right: 20px; 
  }

  .lower-content {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0;
    font-size: 10px;
    margin-left: 20px;
  }

  .vision-text {
    font-size: 24px;
    color: white;
    text-align: right;
    font-weight: bold;
    margin-right: 80px;
    margin-bottom: 5px;
    line-height: 1.1;
    text-align: right;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    margin: 0 10px;
  }